@tailwind base;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.layout {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  @apply text-red-900;
}

a:hover {
  text-decoration: underline;
}

.btn-link {
  color: white;
  text-decoration: none;
}

.blue-link {
  text-decoration: none;
  @apply text-blue-900;
}

.blue-link:hover {
  text-decoration: none;
  /* color: white; */
}

.transparent-btn:hover > .blue-link {
  color: white;
}

.btn-link:hover {
  text-decoration: none;
}

.link-btn {
  @apply text-red-900;
}

.link-btn:hover {
  text-decoration: underline;
}

.nav-link {
  @apply text-blue-900;
  font-weight: bold;
  display: block;
}
.nav-link:hover {
  @apply text-blue-800;
}

.faq-answer {
  border-left: 2px solid grey;
  margin: 1rem 0 1rem 2rem;
  padding-left: 1rem;
  font-style: italic;
}

.banner {
  background: rgb(42, 67, 101);
  background: linear-gradient(0deg, rgba(42, 67, 101, 1) 0%, rgba(116, 42, 42, 1) 80%);
  height: 45vh;
}

@tailwind components;

@tailwind utilities;

.top-background {
  height: 80vh;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  min-width: 100%;
}

@media (max-width: 1280px) {
  .top-background {
    height: 70vh;
  }
}

@media (max-width: 1023px) {
  .top-background {
    height: auto;
    padding-bottom: 4rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .hide-on-mobile {
    display: none;
  }
}

.same-height {
  display: flex;
  flex: 1 1 100%;
}

.estitle,
.espagination,
.powered-by,
.developed-by {
  display: none !important;
}

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
  position: relative;
  display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.h-book {
  max-height: 20rem;
}

.resource-img {
  transition: box-shadow 0.3s ease-in-out;
}

.resource-img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.hide-modal {
  display: none !important;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

#layout {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}
